
        .rojo{
          background-color: red !important;
        }
        .verde{
          background-color: green !important;
        }
        .amarillo{
          background-color: yellow !important;
        }
        .azul{
          background-color: blue !important;
        }
        .rosa{
          background-color: pink !important;
        }
        .naranja{
          background-color: orange !important;
        }
        .celeste{
          background-color: lightblue !important;
        }
       
   